{% extends "base.html" %}

{% block content %}
<h1>
    Order Up!
    <form action="{{ url_for('.index') }}" method="post">
        {{ tableForm.csrf_token }}
        <h5>Assign Table</h5>
        <div>
            {{ tableForm.tables.label }} {{ tableForm.tables}}
        </div>
        <div>
            {{ tableForm.servers.label }} {{ tableForm.servers}}
        </div>
        <div>
            {{ tableForm.assign }}
        </div>
    </form>

    <h4>Open Orders</h4>
    <div>
        {% for order in your_orders %}
            <form action="{{ url_for('orders.close_table', order_id =order.id)}}" method="post">
                <p>Table {{ order.table.number }}</p>
                <p>Total Price = ${{order.price}}</p>
                <button type="submit">Close Order</button>
            </form>
            <button type="submit" form="itemsForm" formaction="{{ url_for('orders.add_to_order', order_id=order.id) }}">Add to Order</button>
        {% endfor %}
    </div>

    <h3>Listing</h3>
    <form id="itemsForm" method="post">
        {{ menu_item_form.csrf_token }}
        <div>
            {% for choice, label in menu_item_form.menu_items.choices %}
            <div>
                <h3>{{label.type.name}}</h3>
                <input type="checkbox" name="checkbox" value="{{choice}}">{{label.name}} - ${{label.price}}
            </div>
        {% endfor %}
        </div>
    </form>

</h1>

{% endblock %}
